.header{
    width: 100%;
    background: #d97aff85;
    height: 70px;
    text-align: center;
    /* position: fixed; */
    color: rgb(157, 52, 242);
}
.x-input *, .y-input *,  .r-input * {
    width: 15%;
    height: 15%;
    font-size: 150%;
}
input[type="radio" ]{
    width: 20px;
    height: 15px;
    transform: scale(1.5);
    /* padding: 10px;
    -webkit-padding: 10px; */
}

